# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environments
venv/
env/

# Django specific
*.log
staticfiles/
media/

# IDEs and OS
.DS_Store
*.swp
.vscode/
.idea/

# Environment variables
.env

# Sphinx build
docs/_build/
